<!-- Búsqueda -->
<div class="mb-4">
  <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Buscar personaje..." (input)="searchCharacters()">
</div>

<!-- Lista de personajes -->
<div class="row">
  <div *ngFor="let character of characters" class="col-md-3 mb-4">
    <div class="card">
      <img [src]="character.image" class="card-img-top" [alt]="character.name">
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
        <p class="card-text">{{ character.status }} - {{ character.species }}</p>
        <a [routerLink]="['/character', character.id]" class="btn btn-primary">Ver más</a>

        <!-- Botón de favorito -->
        <button *ngIf="!isFavorite(character)" class="btn btn-outline-danger mt-2" (click)="addToFavorites(character)">
          ❤️ Agregar a Favoritos
        </button>
        <button *ngIf="isFavorite(character)" class="btn btn-danger mt-2" (click)="removeFromFavorites(character.id)">
          ❌ Quitar de Favoritos
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Paginación -->
<div class="d-flex justify-content-between mt-4">
  <button class="btn btn-secondary" (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
